.container {
    display: flex;
    flex-flow: column;
    padding-left: 3rem;
    padding-right: 3rem;
    height: 100%;
}

.header {
    display: flex;
    padding-top: 3rem;
}

.subheader {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.subheader div {
    margin-top: auto;
    margin-bottom: auto;
}

.analysesDisplay {
    /* width: 100%; */
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
}